<template>
  <el-dialog :append-to-body="true" :visible.sync="dialog" :title="isAdd ? '新增' : '编辑'" width="500px">
    <el-form ref="form" :model="form" :rules="rules" size="small" label-width="80px">
      <el-form-item label="数据源ID" >
        <el-input v-model="form.sourceId" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="父级区域ID" >
        <el-input v-model="form.parentId" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="区域级别" >
        <el-input v-model="form.level" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="拼音" >
        <el-input v-model="form.pinyin" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="全称" >
        <el-input v-model="form.mergerName" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="名称" >
        <el-input v-model="form.name" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="简称" >
        <el-input v-model="form.shortName" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="区域代码" >
        <el-input v-model="form.areaCode" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="邮编" >
        <el-input v-model="form.zipCode" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="城市代码" >
        <el-input v-model="form.cityCode" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="经度" >
        <el-input v-model="form.lat" style="width: 370px;"/>
      </el-form-item>
      <el-form-item label="纬度" >
        <el-input v-model="form.lng" style="width: 370px;"/>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button type="text" @click="cancel">取消</el-button>
      <el-button :loading="loading" type="primary" @click="doSubmit">确认</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { add, edit } from '@/api/area'
export default {
  props: {
    isAdd: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      loading: false, dialog: false,
      form: {
        id: '',
        sourceId: '',
        parentId: '',
        level: '',
        pinyin: '',
        mergerName: '',
        name: '',
        shortName: '',
        areaCode: '',
        zipCode: '',
        cityCode: '',
        lat: '',
        lng: ''
      },
      rules: {
      }
    }
  },
  methods: {
    cancel() {
      this.resetForm()
    },
    doSubmit() {
      this.loading = true
      if (this.isAdd) {
        this.doAdd()
      } else this.doEdit()
    },
    doAdd() {
      add(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '添加成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    doEdit() {
      edit(this.form).then(res => {
        this.resetForm()
        this.$notify({
          title: '修改成功',
          type: 'success',
          duration: 2500
        })
        this.loading = false
        this.$parent.init()
      }).catch(err => {
        this.loading = false
        console.log(err.response.data.message)
      })
    },
    resetForm() {
      this.dialog = false
      this.$refs['form'].resetFields()
      this.form = {
        id: '',
        sourceId: '',
        parentId: '',
        level: '',
        pinyin: '',
        mergerName: '',
        name: '',
        shortName: '',
        areaCode: '',
        zipCode: '',
        cityCode: '',
        lat: '',
        lng: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
