<template>
  <div>
    <el-dialog
      v-loading="conflictMergeLoad"
      :visible.sync="conflictDialogVisible"
      :modal="false"
      title="冲突数据详情"
      width="30%">
      <el-table :data="conflictInfo">
        <el-table-column prop="name" label="冲突字段" />
        <el-table-column prop="oldValue" label="旧的值" />
        <el-table-column prop="newValue" label="新的值" />
        <el-table-column label="更新值">
          <template slot-scope="scope">
            <el-input v-model="scope.row.finalValue" :type="scope.row.type" size="mini" />
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="conflictDialogVisible = false">取 消</el-button>
        <el-button size="small" type="primary" @click="merge">更改</el-button>
      </span>
    </el-dialog>
    <el-main
      v-loading="syncLoading"
      element-loading-text="后台同步中"
      element-loading-spinner="el-icon-loading"
      class="app-container">
      <!--工具栏-->
      <div class="head-container">
        <!-- Filter -->
        <el-select
          v-model="dataView"
          placeholder="审核状态"
          class="filter-item"
          style="width: 130px"
          @change="changeDataView">
          <el-option
            v-for="view in dataViews"
            :key="view.name"
            :value="view.name"
            :label="view.label" />
        </el-select>

        <!-- 搜索 -->
        <el-input
          v-model="query.value"
          clearable
          placeholder="输入搜索内容"
          style="width: 200px;"
          class="filter-item"
          @keyup.enter.native="toQuery"/>
        <el-select v-model="query.type" clearable placeholder="类型" class="filter-item" style="width: 130px">
          <el-option v-for="item in queryTypeOptions" :key="item.key" :label="item.display_name" :value="item.key"/>
        </el-select>
        <el-button class="filter-item" size="mini" type="success" icon="el-icon-search" @click="toQuery">搜索</el-button>
        <!-- 新增 -->
        <div style="display: inline-block;margin: 0px 2px;">
          <el-button
            v-permission="['ADMIN','AREA_ALL','AREA_CREATE']"
            class="filter-item"
            size="mini"
            type="primary"
            icon="el-icon-plus"
            @click="add">新增
          </el-button>
        </div>

        <!-- 立即同步 -->
        <div style="display: inline-block;margin: 0px 2px;">
          <el-button
            v-permission="['ADMIN','AREA_ALL']"
            class="filter-item"
            size="mini"
            type="warning"
            icon="el-icon-refresh"
            @click="sync">立即同步
          </el-button>
        </div>
      </div>
      <!--表单组件-->
      <eForm ref="form" :is-add="isAdd"/>
      <!--表格渲染-->
      <el-table
        v-loading="loading"
        :data="data.areas"
        :row-class-name="tableRowClassName"
        :cell-class-name="tableCellClassName"
        size="mini"
        style="width: 100%;"
        @row-click="showDetailIfHasConflict">
        <el-table-column label="添加方式">
          <template slot-scope="scope">
            <el-tag
              v-if="scope.row.manual"
              type="warning"
              size="mini">
              手动
            </el-tag>
            <el-tag
              v-else
              size="mini">
              自动
            </el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="id" label="ID"/>
        <el-table-column prop="sourceId" label="数据源ID"/>
        <el-table-column prop="parentId" label="父级区域ID"/>
        <el-table-column :formatter="levelToName" prop="level" label="区域级别"/>
        <el-table-column prop="pinyin" label="拼音"/>
        <el-table-column prop="mergerName" label="全称"/>
        <el-table-column prop="name" label="名称"/>
        <el-table-column prop="shortName" label="简称"/>
        <el-table-column prop="areaCode" label="区域代码"/>
        <el-table-column prop="zipCode" label="邮编"/>
        <el-table-column prop="cityCode" label="城市代码"/>
        <el-table-column prop="lat" label="经度"/>
        <el-table-column prop="lng" label="纬度"/>
        <el-table-column
          v-if="checkPermission(['ADMIN','AREA_ALL','AREA_EDIT','AREA_DELETE'])"
          label="操作"
          width="200px"
          align="center">
          <template slot-scope="scope">
            <el-button
              v-permission="['ADMIN','AREA_ALL','AREA_EDIT']"
              v-if="!scope.row.checked"
              size="mini"
              type="success"
              icon="el-icon-check"
              circle
              @click="check(scope.row.id)"/>
            <el-button
              v-permission="['ADMIN','AREA_ALL','AREA_EDIT']"
              size="mini"
              type="primary"
              icon="el-icon-edit"
              @click="edit(scope.row)"/>
            <el-popover
              v-permission="['ADMIN','AREA_ALL','AREA_DELETE']"
              :ref="scope.row.id"
              placement="top"
              width="180">
              <p>确定删除本条数据吗？</p>
              <div style="text-align: right; margin: 0">
                <el-button size="mini" type="text" @click="$refs[scope.row.id].doClose()">取消</el-button>
                <el-button :loading="delLoading" type="primary" size="mini" @click="subDelete(scope.row.id)">确定
                </el-button>
              </div>
              <el-button slot="reference" type="danger" icon="el-icon-delete" size="mini"/>
            </el-popover>
          </template>
        </el-table-column>
      </el-table>
      <!--分页组件-->
      <el-pagination
        :total="total"
        :current-page="page + 1"
        style="margin-top: 8px;"
        layout="total, prev, pager, next, sizes"
        @size-change="sizeChange"
        @current-change="pageChange"/>
    </el-main>
  </div>
</template>

<script>
import checkPermission from '@/utils/permission'
// import wait from '@/utils/wait'
import initData from '@/mixins/initData'
import * as api from '@/api/area'
import eForm from './form'

export default {
  components: { eForm },
  mixins: [initData],
  data() {
    return {
      levelToNameMap: ['省', '市', '区'],
      dataViews: [
        {
          name: 'all',
          label: '所有'
        },
        {
          name: 'checked',
          label: '已审核'
        },
        {
          name: 'unchecked',
          label: '未审核'
        },
        {
          name: 'conflict',
          label: '冲突'
        }
      ],
      conflicts: [],
      currentConflictId: null,
      conflictMergeLoad: false,
      conflictInfo: [], // { name, type, field, oldValue, newValue, finalValue }
      dataView: 'all',
      syncLoading: false,
      delLoading: false,
      conflictDialogVisible: false,
      queryTypeOptions: [
        { key: 'id', display_name: 'ID' },
        { key: 'sourceId', display_name: '数据源ID' },
        { key: 'parentId', display_name: '父级区域ID' },
        { key: 'level', display_name: '区域级别' },
        { key: 'pinyin', display_name: '拼音' },
        { key: 'mergerName', display_name: '全称' },
        { key: 'name', display_name: '名称' },
        { key: 'shortName', display_name: '简称' },
        { key: 'areaCode', display_name: '区域代码' },
        { key: 'zipCode', display_name: '邮编' },
        { key: 'cityCode', display_name: '城市代码' },
        { key: 'lat', display_name: '经度' },
        { key: 'lng', display_name: '纬度' }
      ]
    }
  },
  computed: {
    propertyToLable() {
      const map = Object.create(null)
      this.queryTypeOptions
        .forEach(it => { map[it.key] = it.display_name })
      return map
    }
  },
  created() {
    const oldInit = this.init
    this.init = async(...args) => {
      const res = await oldInit(...args)
      this.conflicts = res.content.conflicts || []
    }
    this.init()
  },
  methods: {
    checkPermission,
    levelToName(row, column, cellValue) {
      return this.levelToNameMap[cellValue]
    },
    getConflictFields(id) {
      const conflict = this.conflicts.find(c => c.id === id)
      if (conflict) {
        return conflict.conflictFields
      }
      return null
    },
    getConflictNewValue(id, property) {
      const conflictFields = this.getConflictFields(id)
      return conflictFields[property]
    },
    isConflict(id, property) {
      const conflictFields = this.getConflictFields(id)
      if (conflictFields && conflictFields.hasOwnProperty(property)) {
        return true
      }
      return false
    },
    hasConflict(id) {
      return Boolean(this.conflicts.find(c => c.id === id))
    },
    tableRowClassName({ row }) {
      if (row.checked) {
        return ''
      }
      return 'red-bg'
    },
    tableCellClassName({ row, column }) {
      // console.log(row, column)
      const id = row.id
      const property = column.property
      if (this.isConflict(id, property)) {
        return 'red-bg'
      }
      return ''
    },
    showDetailIfHasConflict(row) {
      const id = row.id
      if (!this.hasConflict(id)) {
        return
      }
      this.currentConflictId = id
      const conflictFields = this.getConflictFields(id)
      this.conflictInfo = Object.keys(conflictFields).map(key => ({
        name: this.propertyToLable[key],
        field: key,
        type: typeof row[key],
        oldValue: row[key],
        newValue: conflictFields[key],
        finalValue: conflictFields[key]
      }))
      this.conflictDialogVisible = true
    },
    changeDataView(view) {
      const params = {};
      ['page', 'size', 'sort'].forEach(prop => {
        if (this.params[prop]) {
          params[prop] = this.params[prop]
        }
      })
      let url
      switch (view) {
        case 'all': break
        case 'checked': params.checked = true; break
        case 'unchecked': params.checked = false; break
        case 'conflict': url = 'api/admin/areas/conflict'; break
      }
      this.init(params, url)
    },
    beforeInit() {
      this.url = 'api/admin/areas'
      const sort = 'id,desc'
      this.params = { page: this.page, size: this.size, sort: sort }
      const query = this.query
      const type = query.type
      const value = query.value
      if (type && value) {
        this.params[type] = value
      }
      return true
    },
    subDelete(id) {
      this.delLoading = true
      api.del(id).then(res => {
        this.delLoading = false
        this.$refs[id].doClose()
        this.dleChangePage()
        this.init()
        this.$notify({
          title: '删除成功',
          type: 'success',
          duration: 2500
        })
      }).catch(err => {
        this.delLoading = false
        this.$refs[id].doClose()
        console.log(err.response.data.message)
      })
    },
    add() {
      this.isAdd = true
      this.$refs.form.dialog = true
    },
    edit(data) {
      this.isAdd = false
      const _this = this.$refs.form
      _this.form = {
        id: data.id,
        sourceId: data.sourceId,
        parentId: data.parentId,
        level: data.level,
        pinyin: data.pinyin,
        mergerName: data.mergerName,
        name: data.name,
        shortName: data.shortName,
        areaCode: data.areaCode,
        zipCode: data.zipCode,
        cityCode: data.cityCode,
        lat: data.lat,
        lng: data.lng
      }
      _this.dialog = true
    },
    async sync() {
      this.syncLoading = true
      await api.sync()
      this.syncLoading = false
      await this.init()
      this.$notify.success('同步完成！')
    },
    async check(id) {
      this.loading = true
      await api.check(id)
      await this.init()
      this.$notify.success('审核完成！')
      this.loading = false
    },
    async merge() {
      const id = this.currentConflictId
      if (id === null) {
        return
      }
      this.conflictMergeLoad = true
      const data = { id }
      this.conflictInfo.forEach(c => {
        let val
        if (c.type === 'number') {
          val = Number(c.finalValue)
          if (Number.isNaN(val)) {
            this.$$notify.error(`input error: ${c.name}:${c.finalValue}`)
            return
          }
        } else {
          val = c.finalValue
        }
        data[c.field] = val
      })
      await api.merge(data)
      this.$notify.success('更改成功！')
      this.conflictDialogVisible = false
      this.conflictMergeLoad = false
      this.init()
    }
  }
}
</script>

<style>
  .el-table .red-bg {
    background-color: #fce2e2 !important;
  }
</style>
